body {
  font-family: sans-serif;
}

main {
  padding: 20px;
}

img {
  max-width: 60%;
}

img[alt=""] {
  border: solid 2px pink;
}

a[href^="http"] {
  font-weight: bold;
  text-decoration: underline dotted;
  color: rebeccapurple;
}

a:not([href^="http"]) {
  font-weight: bold;
  color: orange;
}

li ul li {
  font-size: 0.8em;
}

/* li ul li ul li {
  font-size: 8px;
} */

ul > li:first-child {
  background: palegreen;
}

ol li:nth-child(2),
ol li:nth-child(3),
ol li:nth-child(4),
ol li:nth-child(7) {
  text-decoration: line-through;
}
