body {
  font-family: "Great Vibes", cursive;

  background-image: linear-gradient(
      222deg,
      rgba(0, 24, 46, 0.829),
      rgba(22, 8, 87, 0.5)
    ),
    url("/brick-wall.jpg");
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  color: white;
  font-size: 5rem;
  margin: 0;
}
