body {
    font-family: 'Heebo', sans-serif;
}

h1 {
    font-size: 12rem;
    color: rgb(255, 117, 170);
    text-shadow: 0px 8px 3px #603dff, 0px 8px 20px rgb(255, 20, 255);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}